.description {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0 16px;
  border: 1px solid #444;
  border-radius: 4px;
  width: 80%;
  background-color: #303030;
  font-size: 15px;

  .bird-info {
    display: flex;
    padding: 0;
    flex-direction: row;
    min-height: 173px;

    .image {
      width: 200px;
      height: 155px;
      border-radius: 10px;
      object-fit: cover;
      margin-right: 2rem;
    }

    .name-species-audio {
      width: 70% ;

      .name {
        margin: 0;
        padding: 4px 0 10px 0;
        font-size: 22px;
        border-bottom: 1px solid #555;
      }

      .species {
        margin: 0 0 20px 0;
        padding: 4px 0 4px 0;
        border-bottom: 1px solid #555;
      }
    }
  }
}
