.header-container {
  margin-top: 23px;
  flex-direction: column;

  .panel {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;

    .logo {
      width: 200px;
      height: 55px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .score-title {
      font-size: 20px;

      .score-count {
        line-height: 55px;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 0;
    border-radius: 5px;
    overflow: hidden;
  }

  .nav-item {
    flex: auto;
    text-align: center;
    padding: 6px 44.8px;
    background-color: #008966;
    border-color: #007c5d;
  }

  .active {
    background-color: #00bc8c;
    border-color: #007c5d;
  }
}
